<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | truncatewords: 20 }}">
  
  {% seo %}
  
  <link rel="stylesheet" href="/assets/css/style.css?v={{ site.time | date: '%s' }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  
  {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics }}');
    </script>
  {% endif %}
</head>
<body class="dark-mode">
  <div class="cursor-highlight" aria-hidden="true"></div>
  <header>
    <nav>
      <div>
        <h1>{{ site.title }}</h1>
        <p class="tagline">{{ site.description }}</p>
      </div>
      <div>
        <ul class="nav-items">
          {% for link in site.nav_links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2026 . </p>
    <p>
      <a href="https://instagram.com/ms_axd/{{ site.instagram }}" target="_blank">Instagram</a> |
      <a href=""></a>
    </p>
  </footer>

  <script src="/assets/js/cursor-highlight.js?v={{ site.time | date: '%s' }}"></script>
  <script src="/assets/js/home-calendar.js?v={{ site.time | date: '%s' }}"></script>
  <script src="/assets/js/search.js?v={{ site.time | date: '%s' }}"></script>
</body>
</html>
